<div class="dt-sc-margin65"></div>  
            <!-- **Full-width-section - Starts** -->       
  <div class="full-width-section">
   <div class="container">
     <h2 class="aligncenter">Coordinación de <%= @ayudas.nombre_ayuda %></h2>
	     
	    <%#= @ayudas.inspect %>
	      <% if !@ayudas.blank? %>
	         <a name="obj"><h5>Objetivos de la Coordinación:</h5>
	         <h6><p class="middle-align"><%= @ayudas.objetivo.html_safe %></p>	</h6>
	         </a>
	         <br/>
	         <div id="requi"><h5>Requisitos de la Coordinación:</h5>
	         <h6> <p class="middle-align"><%= @ayudas.requisito.html_safe %></p>	</h6>
	         </div>
	         <div id="contacto"> <h5>Contácto de la Coordinación:</h5>
	         <h6> <p class="middle-align"><%= @ayudas.contactos.html_safe %></p>	</h6>
	         </div>
	      <% else %>
	             
	      <% end %>

    </div>
  </div>
</div> <!-- **Full-width-section - Ends** --> 

 
