<div class="alert
    <%=
    case type.to_sym
    when :alert, :danger, :error, :validation_errors
        'alert-danger'
    when :warning, :todo
        'alert-warning'
    when :notice, :success
        'alert-success'
    else
        'alert-info'
    end
    %>
     alert-dismissible" role="alert">
    <%= content %>
</div>
