
<div class="container">
    <h2 class="aligncenter">Nuestras Ayudas </h2>
    <p class="middle-align">Nuestra Misión es darle calidad de vida del pueblo neo-espartano, a través de la implantación y desarrollo de programas sociales, preventivos, de inclusión, de formación  integral, <br/>  así como, capacitación en la ejecución de proyectos socio-productivos. </p>	
    <div class="dt-sc-hr-invisible-small"></div>
    <div class="column dt-sc-one-fourth animate first" data-animation="fadeInDown" data-delay="100">
        <div class="dt-sc-ico-content type1">
            <div class="icon">
          <%= image_tag "setting-icon.png" %>
            
        </div>
        <h4> <a href="#"> Becas Estudiantiles </a> </h4>
        <p>Becas para estudiantes de Primaria, Secundaria  y Universidad. </p>
    </div>
 </div>
<div class="column dt-sc-one-fourth animate" data-animation="fadeInDown" data-delay="200">
    <div class="dt-sc-ico-content type1">
        <div class="icon">
            <%= image_tag "trophy-icon.png" %>
        </div>
        <h4> <a href="#"> Niños, Niñas y Adolescentes </a> </h4>
        <p>Entrega de Canastillas, Medicamentos, Ayudas Técnicas, Pasajes Aereos. </p>
    </div>
</div>
<div class="column dt-sc-one-fourth animate" data-animation="fadeInDown" data-delay="300">
    <div class="dt-sc-ico-content type1">
        <div class="icon">
            <%= image_tag "paper-plane-icon.png" %>
        </div>
        <h4> <a href="#"> Adultos Mayores </a> </h4>
        <p>Ayudas Económicas, Medicamentos, Boletos Aéreos, Exámenes Médicos, Estudios Especializados.</p>
    </div>
</div>
<div class="column dt-sc-one-fourth animate" data-animation="fadeInDown" data-delay="400">
    <div class="dt-sc-ico-content type1">
        <div class="icon">
            <%= image_tag "flag-icon.png" %>
        </div>
        <h4> <a href="#"> Personas con Discapacidad </a> </h4>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae </p>
    </div>
</div>