
<div class="container">
	<div class="dt-sc-hr-invisible-very-small"></div>
    <div class="column dt-sc-two-third first">
        <h2>Conoce el calendario de <strong>Actividades</strong> de  <strong>la Fundación Social Nueva Esparta.</strong></h2>
    </div>
    <div class="column dt-sc-one-third">
        <a class="dt-sc-button large" href="#">Ir al calendario <span class="fa fa-angle-right"></span></a> 
    </div>
</div>
<div class="dt-sc-hr-invisible-very-small"></div>