<div class="dt-sc-hr-invisible"></div>
<div class="container">
	<!-- **dt-sc-partner-carousel-wrapper - Starts** -->
	<div class="dt-sc-partner-carousel-wrapper">
    	<ul class="dt-sc-partner-carousel">
        	<li><a href="#"><img src="http://placehold.it/141x142&text=Image" alt="image"/></a></li>
            <li><a href="#"><img src="http://placehold.it/141x142&text=Image" alt="image"/></a></li>
            <li><a href="#"><img src="http://placehold.it/141x142&text=Image" alt="image"/></a></li>
            <li><a href="#"><img src="http://placehold.it/141x142&text=Image" alt="image"/></a></li>
            <li><a href="#"><img src="http://placehold.it/141x142&text=Image" alt="image"/></a></li>
        </ul>
    </div><!-- **dt-sc-partner-carousel-wrapper - Starts** -->
</div>
<div class="dt-sc-hr-invisible-small"></div>

