
<div id="dt-menu-toggle" class="dt-menu-toggle">
    Menu
    <span class="dt-menu-toggle-icon"></span>
</div>
<ul class="menu">
    <li class="current_page_item menu-item-simple-parent"><a href="index.html">Inicio</a>
    
        <a class="dt-menu-expand">+</a>
    </li>
    <li class="menu-item-megamenu-parent megamenu-1-columns-group menu-item-depth-0"><a href="side-navigation.html">Quienes Somos</a>
        <div class="megamenu-child-container">
            <ul class="sub-menu">
                <li class="menu-item-with-widget-area">
                    <a href="#">La Fundación</a>
                    <p>Fundación Social Nueva Esparta</p>
                    <div class="menu-item-widget-area-container">
                        <ul>
                            <li class="widget widget_text">
                                <div class="textwidget">
                                    <ul>
                                        <li><a href="#">Misión</a></li>
                                        <li><a href="#">Visión</a></li>
                                        <li><a href="#">Organigrama</a></li>
                                        <li><a href="#">Dirección</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
       
            </ul>
        </div>
   <a class="dt-menu-expand">+</a>

    </li>
          <li class="menu-item-megamenu-parent megamenu-4-columns-group menu-item-depth-0"><a href="side-navigation.html">Ayudas Sociales</a>
        <div class="megamenu-child-container">
            <ul class="sub-menu">
                <li class="menu-item-with-widget-area">
                    <a href="#">Becas Estudiantiles</a>
                    <p>Becas Universitarias y Escolares</p>
                    <div class="menu-item-widget-area-container">
                        <ul>
                            <li class="widget widget_text">
                                <div class="textwidget">
                                    <ul>
                                        <li><a href="#">Objetivos</a></li>
                                        <li><a href="#">Becas Escolares</a></li>
                                        <li><a href="#">Becas Universitarias</a></li>
                                        <li><a href="#">Contactos</a></li>
                                   </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
       
         <li class="menu-item-with-widget-area">
                    <a href="#">Adultos Mayores</a>
                    <p>Ayudas destinada al Adulto Mayor</p>
                    <div class="menu-item-widget-area-container">
                        <ul>
                            <li class="widget widget_text">
                                <div class="textwidget">
                                    <ul>
                                        <li><a href="#">Objetivos</a></li>
                                        <li><a href="#">Requisitos</a></li>
                                        <li><a href="#">Tipo de Ayudas</a></li>
                                        <li><a href="#">Contactos</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                     <li class="menu-item-with-widget-area">
                    <a href="#">Niños, Niñas y Adolescentes</a>
                    <p>Ayudas destinada a los Niños, Niñas y Adolescentes</p>
                    <div class="menu-item-widget-area-container">
                        <ul>
                            <li class="widget widget_text">
                                <div class="textwidget">
                                    <ul>
                                        <li><a href="#">Objetivos</a></li>
                                        <li><a href="#">Requisitos</a></li>
                                        <li><a href="#">Tipos de Ayudas</a></li>
                                        <li><a href="#">Contactos</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item-with-widget-area">
                    <a href="#">Personas con discapacidad</a>
                    <p>Ayudas destinada a atender a la comunidad discapacitada</p>
                    <div class="menu-item-widget-area-container">
                        <ul>
                            <li class="widget widget_text">
                                <div class="textwidget">
                                    <ul>
                                        <li><a href="#">Objetivos</a></li>
                                        <li><a href="#">Requisitos</a></li>
                                        <li><a href="#">Tipos de Ayudas</a></li>
                                        <li><a href="#">Contactos</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>


            </ul>
        </div>
                                                        <a class="dt-menu-expand">+</a>

    </li>

       <li class="menu-item-simple-parent"><a href="contact.html">Movimiento Paz y Vida</a>
       </li>


       <li class="menu-item-simple-parent"><a href="contact.html">Noticias</a>
        <ul class="sub-menu">
            <li><a href="contact.html">Noticias</a></li>
            <li><a href="contact-v2.html">Galerias</a></li>
        </ul>
        <a class="dt-menu-expand">+</a>
    </li>

    <li class="menu-item-simple-parent"><a href="contact.html">Contactos</a>
    

    </li>
</ul>