
<h2 class="aligncenter">Noticias Recientes</h2>
<p class="middle-align">Accede a las noticias más recientes de la fundación y mantente actualizado de la actividades que programamos para ti. </p>	
<div class="dt-sc-hr-invisible-small"></div>

<div class="column dt-sc-one-third first">
    <!-- **Blog-post - Starts** --> 
    <article class="blog-post">
    	<!-- **entry-meta - Starts** -->
        <div class="entry-meta">
            <div class="date">
                <p><span>22</span><br/>Dec</p>
            </div>
            <div class="post-comments">
                <a href="#"><span class="fa fa-comment"></span>12</a>
            </div>
        </div> <!-- **entry-meta - Ends** -->
        <!-- **entry-thumb - Starts** -->
        <div class="entry-thumb">
            <a href="blog-detail-with-right-sidebar.html"><img src="http://placehold.it/1170x767&text=Blog" alt="image"/></a>
        </div> <!-- **entry-thumb - Ends** -->
        <!-- **entry-detail - Starts** -->
        <div class="entry-detail">
        	<div class="entry-title">
            	<h4><a href="blog-detail-with-right-sidebar.html">Perfect Theme for Showing Your Products</a></h4>
            </div>
            <div class="entry-body">
            	<p>Deleniti atque corrupti quos dolores et quas molestias excep turi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia anim..</p>
            </div>
            <a class="read-more" href="#">Read More <span class="fa fa-long-arrow-right"></span> </a>
        </div> <!-- **entry-detail - Ends** -->
    </article><!-- **Blog-post - Ends** --> 
</div>

<div class="column dt-sc-one-third">
    <!-- **Blog-post - Starts** --> 
    <article class="blog-post">
    	<!-- **entry-meta - Starts** -->
        <div class="entry-meta">
            <div class="date">
                <p><span>22</span><br/>Dec</p>
            </div>
            <div class="post-comments">
                <a href="#"><span class="fa fa-comment"></span>12</a>
            </div>
        </div> <!-- **entry-meta - Ends** -->
        <!-- **entry-thumb - Starts** -->
        <div class="entry-thumb">
            <a href="blog-detail-with-right-sidebar.html"><img src="http://placehold.it/1170x767&text=Blog" alt="image"/></a>
        </div> <!-- **entry-thumb - Ends** -->
        <!-- **entry-detail - Starts** -->
        <div class="entry-detail">
        	<div class="entry-title">
            	<h4><a href="blog-detail-with-right-sidebar.html">Inteligent Transitions In UX Design</a></h4>
            </div>
            <div class="entry-body">
            	<p>Deleniti atque corrupti quos dolores et quas molestias excep turi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia anim..</p>
            </div>
            <a class="read-more" href="#">Read More <span class="fa fa-long-arrow-right"></span> </a>
        </div> <!-- **entry-detail - Ends** -->
    </article><!-- **Blog-post - Ends** --> 
</div>

<div class="column dt-sc-one-third">
    <!-- **Blog-post - Starts** --> 
    <article class="blog-post">
    	<!-- **entry-meta - Starts** -->
        <div class="entry-meta">
            <div class="date">
                <p><span>22</span><br/>Dec</p>
            </div>
            <div class="post-comments">
                <a href="#"><span class="fa fa-comment"></span>12</a>
            </div>
        </div> <!-- **entry-meta - Ends** -->
        <!-- **entry-thumb - Starts** -->
        <div class="entry-thumb">
            <a href="blog-detail-with-right-sidebar.html"><img src="http://placehold.it/1170x767&text=Blog" alt="image"/></a>
        </div> <!-- **entry-thumb - Ends** -->
        <!-- **entry-detail - Starts** -->
        <div class="entry-detail">
        	<div class="entry-title">
            	<h4><a href="blog-detail-with-right-sidebar.html">Josh Woodward – Already There</a></h4>
            </div>
            <div class="entry-body">
            	<p>Deleniti atque corrupti quos dolores et quas molestias excep turi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia anim..</p>
            </div>
            <a class="read-more" href="#">Read More <span class="fa fa-long-arrow-right"></span> </a>
        </div> <!-- **entry-detail - Ends** -->
    </article> <!-- **Blog-post - Ends** --> 
</div>
<div class="dt-sc-margin30"></div>                    